/* ATTACHMENTS */

._3xn1 {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 !important;
}

._5i_d {
  background-color: var(--back-right-bar);
  border: none;
  overflow: hidden !important;
}