/* WIDTHS AND HEIGHTS */

._aou {
  padding: 2px 4px;
}

._4qoc,
._3erg ._3058._wu0 {
  max-width: 100%;
}

._3dug.__6j._43kk {
  max-width: 100% !important;
  border: 1px solid var(--backright-bar);
}

/* PADDINGS */
._1wfr {
  padding: 0;
}

._4u-c .uiScrollableArea._5f0v .uiScrollableAreaContent .__i_._7i2k {
  padding-left: 12px;
}

._8rnv {
  bottom: -24px;
}

._205d ._3cnp {
  padding: 4px 10px;
}

/* LINE HEIGHTS */
._4k7a span,
._879k span {
  line-height: 1.4rem;
}

/* MARGINS */
._o46._3i_m ._3058 {
  margin-right: 8px;
}

._5z-5 {
  margin-bottom: 24px !important;
}