._7q1p._7q1l {
  background-color: #eee;
}
._7q1p._7q1l ._7q1q {
  border: 0 !important;
  color: #777;
}

/* MESSAGES ACTIVE */
._hh7:active, ._-5k ._hh7 {
  background-color: #171717;
}

/* MESSAGES */
._o46 {
  margin-bottom: 12px;
}

/* REPLY WITH IMAGE */
._29_7 ._3058._s1-._6e6n {
  background-color: #222;
  border: 0;
  outline: none;
}